!!!5
%html
	%head
		%title Easyjobs
		= stylesheet_link_tag    "blueprint", media: "screen,projection,print"
		= javascript_include_tag "application", "data-turbolinks-track" => true 
		= csrf_meta_tags 

	%body
		= yield


